{% extends 'base.html' %}

{% block title %}Головна сторінка{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1>Вітаємо, {{ user.username }}!</h1>
    
    <div class="mt-4">
        <a href="{% url 'subject_list' %}" class="btn btn-outline-primary mx-2 mb-2">Модуль Предметів</a>
        <a href="{% url 'group_list' %}" class="btn btn-outline-primary mx-2 mb-2">Модуль Груп</a>
        <a href="{% url 'schedule_list' %}" class="btn btn-outline-success mx-2 mb-2">Розклад занять</a>
    </div>
</div>
{% endblock %}